.button {
  padding: 10px 32px;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  border: transparent;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;

  &--footer-btn {
    display: flex;
    align-self: center;
    padding: 10px 28px;
    width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &--modal {
    display: block;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

// .button--footer-btn {
//   display: flex;
//   align-self: center;
//   padding: 10px 28px;
//   width: 200px;
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }

// .footer__btn-icon {
//   width: 24px;
//   height: 24px;
//   fill: var(--primary-background-color);
//   margin-left: 10px;
// }

// .button--modal {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;

//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
// }
