.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list__item {
  margin-left: 30px;
}

.contacts-list__item:first-child {
  margin-left: 0;
}

.contacts-list__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.contacts-list__icons {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
