.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
  }
}

.features__item {
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-bottom: 30px;
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);
    margin-bottom: 0;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features__item::before {
  display: block;
  margin-bottom: 30px;
  content: '';
  height: 120px;
  background-color: var(--secondary-background-color);

  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.features__icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
}

.features__icon-clock::before {
  background-image: url(../images/svg/clock.svg);
}

.features__icon-diagram::before {
  background-image: url(../images/svg/diagram.svg);
}

.features__icon-astronaut::before {
  background-image: url(../images/svg/astronaut.svg);
}

.features__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

.features__text {
  margin-top: 0;
  font-size: 14px;
  line-height: 1.71;
}
