.filters-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 14px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }

  &__item {
    margin-right: 8px;

    &:nth-child(5n) {
      margin-right: 0;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }
  }

  &__filter {
    min-width: none;
    display: inline-block;
    padding: 6px 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    border: transparent;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--primary-background-color);
      background-color: var(--accent-color);
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
  }

  &__filter-current {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .filters-list__item {
//   margin-right: 8px;

//   &:nth-child(5n) {
//     margin-right: 0;
//   }

//   @media screen and (max-width: 767px) {
//     margin-bottom: 15px;
//   }
// }

// .filters-list__item:nth-child(5n) {
//   margin-right: 0;
// }

// .filters-list__filter {
//   min-width: none;
//   display: inline-block;
//   padding: 6px 22px;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.62;
//   text-align: center;
//   color: var(--title-text-color);
//   background-color: var(--secondary-background-color);
//   border: transparent;
//   border-radius: 4px;
//   cursor: pointer;

//   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     color 250ms cubic-bezier(0.4, 0, 0.2, 1),
//     box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .filters-list__filter:hover,
// .filters-list__filter:focus {
//   color: var(--primary-background-color);
//   background-color: var(--accent-color);
//   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
//     0px 2px 2px rgba(0, 0, 0, 0.12);
// }
