.mobile-menu {
  position: fixed;
  //   display: flex;
  //   flex-direction: column;
  top: 0;
  left: 100%;
  width: 100%;
  max-height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  background-color: var(--primary-background-color);
  z-index: 99;

  &.is-open {
    left: 0;
    opacity: 1;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

  &__list {
    margin-bottom: 302px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__contacts-list {
    margin-bottom: 64px;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__phone-link {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  &__mail-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--primary-text-color);
  }
}

// .mobile-menu__list {
//   margin-bottom: 302px;
// }

// .mobile-menu__item {
//   &:not(:last-child) {
//     margin-bottom: 32px;
//   }
// }

// .mobile-menu__link {
//   font-weight: 500;
//   font-size: 40px;
//   line-height: 1.2;
//   letter-spacing: 0.02em;

//   color: var(--title-text-color);
// }

// .mobile-menu__link:hover,
// .mobile-menu__link:focus {
//   color: var(--accent-color);
// }

// .mobile-menu__contacts-list {
//   margin-bottom: 64px;
//   &:not(:last-child) {
//     margin-bottom: 32px;
//   }
// }

// .mobile-menu__contacts-list:not(:last-child) {
//   margin-bottom: 32px;
// }

// .mobile-menu__phone-link {
//   font-weight: 500;
//   font-size: 34px;
//   line-height: 1.8;
//   letter-spacing: 0.02em;
//   color: var(--accent-color);
// }

// .mobile-menu__mail-link {
//   font-weight: 500;
//   font-size: 24px;
//   line-height: 1.2;
//   letter-spacing: 0.02em;

//   color: var(--primary-text-color);
// }

// .social-networks__link-menu {
//   font-weight: 500;
//   font-size: 18px;
//   line-height: 1.2;
//   letter-spacing: 0.02em;

//   color: var(--accent-color);
// }

// .social-networks__menu-item {
//   margin-right: 20px;
// }

.menu-btn {
  position: absolute;
  display: inline-flex;
  margin: 0;
  //   margin-left: auto;
  right: 15px;
  padding: 0;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: none;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__icon-menu {
    fill: currentColor;

    .is-open & {
      display: none;
    }
  }

  &__icon-close {
    display: none;
    fill: currentColor;

    .is-open & {
      display: block;
    }
  }
}

// .menu-btn:hover,
// .menu-btn:focus {
//   color: var(--accent-color);
// }

// .menu-btn__icon-menu {
//   fill: currentColor;
// }

// .is-open .menu-btn__icon-menu {
//   display: none;
// }

// .menu-btn__icon-close {
//   display: none;
//   fill: currentColor;

//   .is-open & {
//     display: block;
//   }
// }
