.modal-form {
  /* width: 100%; */
  /* min-width: 448px; */
  margin-left: auto;
  margin-right: auto;
  /* padding: 40px; */
  /* align-self: center; */
}

.modal-form__title {
  display: flex;
  margin-bottom: 12px;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--title-text-color);
}

.modal-form__field {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column-reverse;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__field--check {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

.modal-form__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;

  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__label-check {
  display: flex;
  align-items: center;
  margin-left: 14px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal-form__label-check::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 1px solid var(--logo-header-color);
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-form__checkbox:checked + .modal-form__label-check::before {
  background-image: url(../images/checked-modal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--accent-color);
  background-origin: border-box;
  border-color: transparent;
  border-radius: 2 px;
}

.modal-form__check-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 4px;
}

.modal-form__input {
  margin: 0;
  padding: 0;
  height: 40px;
  padding-left: 42px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form__input:hover,
.modal-form__input:focus {
  cursor: pointer;
}

.modal-form__input:focus {
  outline-color: var(--accent-color);
}

.modal-form__input:focus + .modal-form__label {
  color: var(--accent-color);
}

.modal-form__textarea:focus + .modal-form__label {
  color: var(--accent-color);
}

.modal-form__textarea {
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__textarea:focus,
.modal-form__textarea:hover {
  outline-color: var(--accent-color);
  outline-width: 1px;
  cursor: pointer;
}

.modal-form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus ~ .modal-form__icon {
  color: var(--accent-color);
  fill: currentColor;
}
