.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  &__list {
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
    display: flex;
    margin-left: 88px;
  }

  &__item {
    margin-left: 50px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  &__link-current {
    color: var(--accent-color);
    content: '';
    display: block;
    position: relative;
    &::after {
      position: absolute;
      display: flex;
      content: '';
      bottom: -1px;
      left: 0;
      height: 4px;
      width: 100%;
      border: 2px solid var(--accent-color);
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }
}

// .site-nav__list {
//   @media screen and (min-width: 1200px) {
//     margin-left: 93px;
//   }
//   display: flex;
//   margin-left: 88px;
// }

// .site-nav__item {
//   margin-left: 50px;
//   &:first-child {
//     margin-left: 0;
//   }
// }

// .site-nav__item:first-child {
//   margin-left: 0;
// }

// .site-nav__link {
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: var(--title-text-color);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .site-nav__link--current {
//   color: var(--accent-color);
//   content: '';
//   display: block;
//   position: relative;
//   &::after {
//     position: absolute;
//     display: flex;
//     content: '';
//     bottom: -1px;
//     left: 0;
//     height: 4px;
//     width: 100%;
//     border: 2px solid var(--accent-color);
//     border-radius: 2px;
//     background-color: var(--accent-color);
//   }
// }
