.social-networks {
  display: flex;
}

.social-networks__link {
  margin-right: 10px;
}

.social-networks__link:nth-child(4n) {
  margin-right: 0;
}

.social-networks__link-background:hover,
.social-networks__link-background:focus {
  background-color: var(--accent-color);
}

.social-networks__link-background {
  display: flex;
  color: var(--primary-background-color);
  background-color: #ffffff10;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-networks__link-background--inverse {
  color: var(--icons-color);
  background-color: var(--primary-background-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__link-background--inverse:hover,
.social-networks__link-background--inverse:focus {
  background-color: var(--accent-color);

  color: var(--primary-background-color);
}

.card-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
