.section-team {
  background: var(--secondary-background-color);
  text-align: center;

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
  }

  &__item {
    @media screen and (min-width: 480px) {
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px) / 2);
      // margin-bottom: 30px;
      margin: 15px;
    }

    @media screen and (min-width: 1200px) {
      width: calc((100% - 4 * 30px) / 4);
      margin-bottom: 0;
    }

    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    background-color: var(--primary-background-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__content {
    padding-top: 30px;
    padding-bottom: 24px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 480px) {
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--title-text-color);
  }

  &__profession {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    text-decoration: none;
    color: var(--primary-text-color);
  }

  &__photo {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
}

// .section-team__list {
//   @media screen and (min-width: 768px) {
//     display: flex;
//     flex-wrap: wrap;
//     margin: -15px;
//   }
// }

// .section-team__item {
//   @media screen and (min-width: 480px) {
//   }

//   @media screen and (min-width: 768px) {
//     width: calc((100% - 2 * 30px) / 2);
//     // margin-bottom: 30px;
//     margin: 15px;
//   }

//   @media screen and (min-width: 1200px) {
//     width: calc((100% - 4 * 30px) / 4);
//     margin-bottom: 0;
//   }

//   &:not(:last-child) {
//     @media screen and (max-width: 767px) {
//       margin-bottom: 30px;
//     }
//   }

//   background-color: var(--primary-background-color);

//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
// }

// .section-team__content {
//   padding-top: 30px;
//   padding-bottom: 24px;

//   display: flex;
//   flex-direction: column;
//   align-items: center;

//   @media screen and (min-width: 480px) {
//   }
// }

// .section-team__title {
//   margin-top: 0;
//   margin-bottom: 10px;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.19;
//   color: var(--title-text-color);
// }

// .section-team__profession {
//   margin-top: 0;
//   margin-bottom: 16px;
//   font-size: 16px;
//   line-height: 1.19;
//   text-decoration: none;
//   color: var(--primary-text-color);
// }

// .section-team__photo {
//   display: block;
//   margin-top: 0;
//   margin-bottom: 0;
// }
