body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
b {
  margin-top: 0;
  margin-bottom: 0;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

// * {
//   outline: 1px solid orangered;
// }
