:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --icons-color: #afb1ba;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --logo-header-color: #000000;
}
